.horizontal-thumbnail-gallery {
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;

  .inner {
    display: flex;
    flex-wrap: nowrap;
  }

  .thumb {
    margin: 0 0.5rem 0 0;
    flex: none;

    ion-thumbnail {
      --size: 5rem;
    }
  }
}

.enlarge-image {
  --ion-toolbar-background: transparent;
  --ion-color-dark: white;

  .modal-wrapper {
    background: rgba(0, 0, 0, 0.75);
  }

  .image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
