.project-page-container {
  .consultation-count {
    font-size: 0.75rem;

    .count {
      font-size: 1rem;
    }
  }

  ion-item {
    font-size: 0.825rem;
  }
}

.enlarge-image {
  --ion-toolbar-background: transparent;
  --ion-color-dark: white;

  .modal-wrapper {
    background: rgba(0, 0, 0, 0.75);
  }

  .image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
