#consultation-messages {
  padding-bottom: 40vh;

  .message-row {
    padding: 0.125rem;
    display: flex;

    &.sent {
      flex-direction: row-reverse;

      .message-bubble {
        background: var(--ion-color-primary, #3880ff);
      }
    }

    &.received {
      .message-bubble {
        background: dimgray;
      }
    }

    .message-bubble {
      padding: 0.5rem;
      border-radius: 0.5rem;
      color: white;
      display: inline-block;
      max-width: 50%;
      font-size: 0.75rem;
      margin: 0;

      p {
        margin: 0;
      }
    }
  }

  form {
    border-top: 1px solid gainsboro;
    margin-top: 1rem;
  }
}
