#page-container.new-project-page-container {
  .images-uploaded {
    .images {
      display: flex;

      > * {
        margin-right: 0.5rem;
      }
    }

    .images-button {
      margin-top: 0.5rem;
    }
  }

  .images-button {
    width: calc(100% - 2px);
  }

  .submit-button {
    margin-top: 2rem;
  }
}

.photo-upload-modal {
  color: black;

  .inner {
    padding: 1rem 1rem 0 1rem;
  }

  .thumb {
    --size: 156px;
  }

  .trigger-buttons {
    text-align: center;
  }

  .has-selection {
    .not-selected {
      opacity: 0.5;
    }

    .selected-for-deletion {
      border: 2px solid var(--ion-color-danger, #eb445a);
    }
  }
}
