.projects-page-container {
  .page-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin: 0;
    }
  }

  .images {
    margin-bottom: 1rem;

    .thumb {
      display: inline-block;
      margin-right: 0.5rem;
    }
  }
}
