.registration-login-container form {
  min-width: 270px;
  background: lightgray;
  padding: 1.5rem 2rem;
  border-radius: var(--card-radius);
}

.registration-login-container strong {
  font-size: 20px;
  line-height: 26px;
}

.registration-login-container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.registration-login-container ion-input.field input {
  text-align: left;
}
