#page-container.consultation-page-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--offset-top));

  .close-consultation {
    position: absolute;
  }

  .project-meta {
    flex: none;
    padding-top: 1rem;
    padding-left: 1rem;
  }

  .messages-container {
    overflow-y: scroll;
    border-top: 1px solid gainsboro;
  }
}
