#consultation-messages {
  .inner {
    padding-top: 1rem;
  }

  .message-row {
    padding: 0.125rem;
    display: flex;

    &.sent {
      flex-direction: row-reverse;

      .message-bubble {
        background: var(--ion-color-secondary-shade);
      }
    }

    &.received {
      .message-bubble {
        background: var(--ion-color-primary);
      }
    }

    .message-bubble {
      padding: 0.5rem;
      border-radius: 0.5rem;
      color: white;
      display: inline-block;
      max-width: 75%;
      font-size: 0.75rem;
      margin: 0;

      p {
        margin: 0;
      }

      &:last-child {
        margin-bottom: 1rem;
      }
    }
  }

  form {
    border-top: 1px solid gainsboro;
  }

  .empty-state {
    width: 100%;
    font-size: 0.75rem;
    line-height: 1 !important;
  }
}
